.timeline {
  border-left: var(--border);
  border-right: var(--border);
  margin: 0 auto;
  max-width: var(--main);
}

.timeline__header-wrapper {
  margin: 0 auto;
  max-width: var(--main);
  position: fixed;
  width: 100%;
}

.timeline__header {
  align-items: center;
  background-color: #ffffffd9;
  backdrop-filter: blur(12px);
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
}

.timeline__heading {
  font-size: 1.25rem;
  margin: 0;
}

.timeline__activity {
  border-radius: 50%;
  cursor: pointer;
  padding: 0.25rem;
  transition: background-color 0.2s;
}

.timeline__activity:hover {
  background-color: var(--light-violet);
}

.timeline__header-spacer {
  padding-top: 3.1875rem;
}

.timeline__form {
  border-bottom: var(--border);
  padding: 0.75rem;
}

.timeline__input {
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: var(--font);
  outline: none;
  width: 100%;
}

.timeline__bottom-line {
  align-items: center;
  display: flex;
  margin-top: 0.75rem;
  justify-content: end;
}

.timeline__submit {
  border: 0;
  background-color: var(--violet);
  border-radius: 10rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}

.timeline__submit:hover {
  background-color: var(--dark-violet);
}
