:root {
  --font: 'Nunito Sans', sans-serif;

  --gray: #e9ecef;
  --red: #ff6b6b;
  --violet: #845ef7;

  --border: 1px solid var(--gray);

  --main: 37.5rem;
}

body {
  font-family: var(--font);
  margin: 0;
  overscroll-behavior: none;
}
